################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/arifmetika/.vs
/arifmetika/Arifmetika/.vs/Arifmetika/v16/Server/sqlite3
/arifmetika/Arifmetika/Arifmetika/bin/Debug/netcoreapp2.2
/arifmetika/Arifmetika/Arifmetika/obj
/enum/.vs/enum/v16
/enum/enum/bin/Debug/netcoreapp2.2
/enum/enum/obj
/Kontext/.vs/Kontext/v16
/Kontext/Kontext/obj
/Korteji/.vs/Korteji/v16
/Korteji/Korteji/bin/Debug/netcoreapp2.2
/Korteji/Korteji/obj/Debug/netcoreapp2.2
/Korteji/Korteji/obj
/Logika/Logika/.vs/Logika/v16
/Logika/Logika/Logika/bin/Debug/netcoreapp2.2
/Logika/Logika/Logika/obj/Debug/netcoreapp2.2
/Logika/Logika/Logika/obj
/Massiv/.vs/Massiv/v16
/Massiv/Massiv/bin/Debug/netcoreapp2.2
/Massiv/Massiv/obj
/Massivparameter/.vs/Massivparameter/v16
/Massivparameter/Massivparameter/bin/Debug/netcoreapp2.2
/Massivparameter/Massivparameter/obj
/Metod/.vs/Metod/v16
/Metod/Metod/bin/Debug/netcoreapp2.2
/Metod/Metod/obj
/OperatorFor/.vs/OperatorFor/v16
/OperatorFor/OperatorFor/bin/Debug/netcoreapp2.2
/OperatorFor/OperatorFor/obj
/Operatsi/.vs/Operatsi/v16
/Operatsi/Operatsi/obj
/Peredachaparametra/.vs/Peredachaparametra/v16
/Peredachaparametra/Peredachaparametra/obj
/RekurisvayaFunction/.vs/RekurisvayaFunction/v16
/RekurisvayaFunction/RekurisvayaFunction/bin/Debug/netcoreapp2.2
/RekurisvayaFunction/RekurisvayaFunction/obj
/Sortirovka/.vs/Sortirovka/v16
/Sortirovka/Sortirovka/bin/Debug/netcoreapp2.2
/Sortirovka/Sortirovka/obj
/Sortirovka/Sortirovka
/Arifmetik/.vs
/Arifmetik/Arifmetika/.vs/Arifmetika/v16
/Arifmetik/Arifmetika/Arifmetika/bin/Debug/netcoreapp2.2
/Arifmetik/Arifmetika/Arifmetika/obj
/Arifmetik/Arifmetika
/Console/Konsol/obj/Debug/netcoreapp2.2
/Console/Konsol/obj
/Console/.vs/Konsol/v16/Server/sqlite3
/Console/.vs/Konsol/v16
/arifmetika/bin/Debug/netcoreapp2.2
/Arifmetika/obj
